body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
    font-family: "Monsterrat", sans-serif;
}

.wrapper {
    width: 650px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -1px -1px 113px -11px rgba(0,0,0,0.32);
    -webkit-box-shadow: -1px -1px 113px -11px rgba(0,0,0,0.32);
    -moz-box-shadow: -1px -1px 113px -11px rgba(0,0,0,0.32);
    margin-top: -30px;
}

.wrapper h1 {
    text-align: center;
    margin-top: 20px;
}

.wrapper .text {
    margin-left: 20px;
    margin-top: 30px;
}

.wrapper .text input {
    display: block;
    margin-top: 10px;
    width: 95%;
    height: 30px;
}

#btn-calculate {
    background-color: rgba(34, 200, 34, 0.739);
    width: 96%;
    height: 40px;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    color: #ffff;
    font-size: 18px;
}

#btn-calculate:hover {
    background-color: rgba(33, 183, 33, 0.739);
}

.total {
    display: flex;
}

.result-total {
    margin-top: 25px;
}

#result {
    margin-left: 10px;
    margin-top: 12px;
    font-size: 30px;
    font-weight: bold;
}